---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=fWFAkKkDxxVqAM1whmDMk6vB1lEhVSSk&location=taunton,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 17:51:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"taunton,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Taunton","adminArea5Type":"City","adminArea4":"Bristol
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041799","unknownInput":"","type":"s","latLng":{"lat":41.901617,"lng":-71.092626},"displayLatLng":{"lat":41.901617,"lng":-71.092626},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=fWFAkKkDxxVqAM1whmDMk6vB1lEhVSSk&type=map&size=225,160&locations=41.901617,-71.092626|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1573715579"}]}]}'
  recorded_at: Tue, 27 Apr 2021 17:51:41 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a5c0e3884a8641bcda318c7ff1e5c4ed&exclude=minutely,alerts&lat=41.901617&lon=-71.092626
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.9016,"lon":-71.0926,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619545901,"sunrise":1619516732,"sunset":1619566687,"temp":290.5,"feels_like":289,"pressure":1013,"humidity":27,"dew_point":271.55,"uvi":5.57,"clouds":89,"visibility":10000,"wind_speed":1.34,"wind_deg":7,"wind_gust":3.58,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619542800,"temp":290.52,"feels_like":289.07,"pressure":1013,"humidity":29,"dew_point":272.42,"uvi":6.18,"clouds":89,"visibility":10000,"wind_speed":5.37,"wind_deg":280,"wind_gust":9.44,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619546400,"temp":290.5,"feels_like":289,"pressure":1013,"humidity":27,"dew_point":271.55,"uvi":5.57,"clouds":89,"visibility":10000,"wind_speed":5.6,"wind_deg":272,"wind_gust":9.72,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619550000,"temp":290.88,"feels_like":289.47,"pressure":1013,"humidity":29,"dew_point":272.7,"uvi":4.39,"clouds":91,"visibility":10000,"wind_speed":5.59,"wind_deg":268,"wind_gust":8.82,"weather":[{"id":8[...]
