---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=taunton,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Apr 2021 02:58:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"taunton,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Taunton","adminArea5Type":"City","adminArea4":"Bristol
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041799","unknownInput":"","type":"s","latLng":{"lat":41.901617,"lng":-71.092626},"displayLatLng":{"lat":41.901617,"lng":-71.092626},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=41.901617,-71.092626|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1659785675"}]}]}'
  recorded_at: Sun, 25 Apr 2021 02:58:45 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK&exclude=minutely,alerts&lat=41.901617&lon=-71.092626
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.9016,"lon":-71.0926,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619319526,"sunrise":1619257787,"sunset":1619307287,"temp":286.26,"feels_like":284.62,"pressure":1013,"humidity":38,"dew_point":272.38,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":3.09,"wind_deg":0,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619316000,"temp":285.99,"feels_like":284.4,"pressure":1013,"humidity":41,"dew_point":273.08,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":3.49,"wind_deg":225,"wind_gust":11.97,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1619319600,"temp":286.26,"feels_like":284.62,"pressure":1013,"humidity":38,"dew_point":272.38,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.67,"wind_deg":219,"wind_gust":9.3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619323200,"temp":285.72,"feels_like":284.13,"pressure":1013,"humidity":42,"dew_point":273.16,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":2.15,"wind_deg":208,"wind_gust":7.69,"weather":[{"id":801,"main"[...]
