---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=89_LP0qcPBZ73UpNiZ-gXYPUFeo8Ve323DMp_2P3EGw&order_by=relevant&page=1&per_page=1&query=taunton,ma%20downtown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=89_LP0qcPBZ73UpNiZ-gXYPUFeo8Ve323DMp_2P3EGw&order_by=relevant&page=10000&per_page=1&query=taunton%2Cma+downtown>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=89_LP0qcPBZ73UpNiZ-gXYPUFeo8Ve323DMp_2P3EGw&order_by=relevant&page=2&per_page=1&query=taunton%2Cma+downtown>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"323b0d4dc17bb219afe6f4c1e0a85141"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"LuBJ1GSvBl4","created_at":"2019-08-24T18:02:50-04:00","updated_at":"2021-04-27T06:11:01-04:00","promoted_at":null,"width":3024,"height":4032,"color":"#c0a6a6","blur_hash":"LGHK^K_2ozs:~AIp%L%2D*bcofof","description":null,"alt_description":"people
        near buildings","urls":{"raw":"https://images.unsplash.com/photo-1566684142531-c5dd7bb57384?ixid=MnwyMjU4NjR8MHwxfHNlYXJjaHwxfHx0YXVudG9uJTJDbWElMjBkb3dudG93bnxlbnwwfHx8fDE2MTk1NDU5MDI\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1566684142531-c5dd7bb57384?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMjU4NjR8MHwxfHNlYXJjaHwxfHx0YXVudG9uJTJDbWElMjBkb3dudG93bnxlbnwwfHx8fDE2MTk1NDU5MDI\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1566684142531-c5dd7bb57384?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjU4NjR8MHwxfHNlYXJjaHwxfHx0YXVudG9uJTJDbWElMjBkb3dudG93bnxlbnwwfHx8fDE2MTk1NDU5MDI\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1566684142531-c5dd7bb57384?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjU4NjR8MHwxfHNlYXJjaHwxfHx0YXVudG9uJTJDbWElMjBkb3dudG93bnxlbnwwfHx8fDE2MTk1NDU5MDI\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1566684142531-c5dd7bb57384?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjU4NjR8MHwxfHNlYXJjaHwxfHx0YXVudG9uJTJDbWElMjBkb3dudG93bnxlbnwwfHx8fDE2MTk1NDU5MDI\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/LuBJ1GSvBl4","html":"https://unsplash.com/photos/LuBJ1GSvBl4","download":"https://unsplash.com/photos/LuBJ1GSvBl4/download","download_location":"https://api.unsplash.com/photos/LuBJ1GSvBl4/download?ixid=MnwyMjU4NjR8MHwxfHNlYXJjaHwxfHx0YXVudG9uJTJDbWElMjBkb3dudG93bnxlbnwwfHx8fDE2MTk1NDU5MDI"},"categories":[],"likes":39,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"TDzsAwOUzv8","updated_at":"2021-04-27T12:56:43-04:00","username":"jankolar","name":"Jan
        Antonin Kolar","first_name":"Jan Antonin","last_name":"Kolar","twitter_username":"jankolario","portfolio_url":"https://twitter.com/jankolario","bio":null,"location":"Munich","links":{"self":"https://api.unsplash.com/users/jankolar","html":"https://unsplash.com/@jankolar","photos":"https://api.unsplash.com/users/jankolar/photos","likes":"https://api.unsplash.com/users/jankolar/likes","portfolio":"https://api.unsplash.com/users/jankolar/portfolio","following":"https://api.unsplash.com/users/jankolar/following","followers":"https://api.unsplash.com/users/jankolar/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1589642197085-ed2d5158a163image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1589642197085-ed2d5158a163image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1589642197085-ed2d5158a163image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"jankolario","total_collections":11,"total_likes":339,"total_photos":375,"accepted_tos":true,"for_hire":false},"tags":[{"type":"search","title":"building"},{"type":"search","title":"town"},{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2021-04-20T11:01:51-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unspl[...]
