---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=fWFAkKkDxxVqAM1whmDMk6vB1lEhVSSk&location=taunton,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 01:25:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"taunton,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Taunton","adminArea5Type":"City","adminArea4":"Bristol
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041799","unknownInput":"","type":"s","latLng":{"lat":41.901617,"lng":-71.092626},"displayLatLng":{"lat":41.901617,"lng":-71.092626},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=fWFAkKkDxxVqAM1whmDMk6vB1lEhVSSk&type=map&size=225,160&locations=41.901617,-71.092626|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-379568164"}]}]}'
  recorded_at: Wed, 28 Apr 2021 01:25:41 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a5c0e3884a8641bcda318c7ff1e5c4ed&exclude=minutely,alerts&lat=41.901617&lon=-71.092626
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.9016,"lon":-71.0926,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619573142,"sunrise":1619516732,"sunset":1619566687,"temp":285.28,"feels_like":283.62,"pressure":1014,"humidity":41,"dew_point":272.52,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.06,"wind_deg":220,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619571600,"temp":285.28,"feels_like":283.62,"pressure":1014,"humidity":41,"dew_point":272.52,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.52,"wind_deg":235,"wind_gust":7.07,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619575200,"temp":284.73,"feels_like":283.14,"pressure":1014,"humidity":46,"dew_point":273.52,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":2.18,"wind_deg":232,"wind_gust":4.71,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1619578800,"temp":284.18,"feels_like":282.64,"pressure":1014,"humidity":50,"dew_point":274.16,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":2.09,"wind_deg":234,"wind_gust":3.07,"weather":[{"id":802,"m[...]
